# Gillian Tatreau
# DSC540
# Project Milestone 2
# 22 January 2023

In [1]:
# import packages
import numpy as np
import pandas as pd

In [2]:
# load in csv file
df = pd.read_csv("/Users/gillian/Documents/Bellevue Grad Program/Winter 2022-23/DSC540/Final Project/books.csv")
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.780000e+12,eng,652,2095690,27591,9/16/06,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.780000e+12,eng,870,2153167,29221,9/1/04,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780000e+12,eng,352,6333,244,11/1/03,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780000e+12,eng,435,2339585,36325,5/1/04,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.780000e+12,eng,2690,41428,164,9/13/04,Scholastic

In [3]:
# column names
df.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [4]:
# data type of each column
df.dtypes

bookID                  int64
title                  object
authors                object
average_rating        float64
isbn                   object
isbn13                float64
language_code          object
  num_pages             int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

In [5]:
# number of NAs in each column
df.isna().sum()

bookID                0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

## Step 1
Changed column name of '  num_pages' to strip the column name of white-spaces.

In [6]:
# change column name '  num_pages'
df.rename(columns = {'  num_pages': 'num_pages'}, inplace = True)
df.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', 'num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

## Step 2
Changed data types of "average_rating", "num_pages", and "isbn13" to numeric data types. These columns all contain numerical values and not string data. Changed "publication_date" to datetime data type, as it is the date of publication, not a string or numerical value.

In [7]:
# change data type of average_rating, num_pages, isbn13 to numeric
df["average_rating"] = pd.to_numeric(df["average_rating"], errors= "coerce")
df["num_pages"] = pd.to_numeric(df["num_pages"], errors= "coerce")
df["isbn13"] = pd.to_numeric(df["isbn13"], errors= "coerce")

In [8]:
# change data type of publication_date to datetime
df["publication_date"] = pd.to_datetime(df["publication_date"])
df.dtypes

bookID                         int64
title                         object
authors                       object
average_rating               float64
isbn                          object
isbn13                       float64
language_code                 object
num_pages                      int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

## Step 3
Looking at duplicate values. Changed "language_code" values to be consistent with ISO 639-2 standardized language codes.

In [9]:
# number of unique values
df.nunique()

bookID                11127
title                 10352
authors                6643
average_rating          209
isbn                  11127
isbn13                   23
language_code            27
num_pages               997
ratings_count          5294
text_reviews_count     1822
publication_date       3677
publisher              2292
dtype: int64

In [10]:
# all unique values for "language_code"
print(df["language_code"].unique())

['eng' 'en-US' 'fre' 'spa' 'en-GB' 'mul' 'grc' 'enm' 'en-CA' 'ger' 'jpn'
 'ara' 'nl' 'zho' 'lat' 'por' 'srp' 'ita' 'rus' 'msa' 'glg' 'wel' 'swe'
 'nor' 'tur' 'gla' 'ale']

In [11]:
# change "language_code" to be consistent with ISO 639-2 language codes
df["language_code"] = df["language_code"].replace(["nl", "fre", "en-US", 
                                                   "en-GB", "en-CA", "ger", 
                                                   "wel"], 
                                                  ["nld", "fra", "eng", 
                                                   "eng", "eng", "deu", 
                                                   "cym"])
print(df["language_code"].unique())

['eng' 'fra' 'spa' 'mul' 'grc' 'enm' 'deu' 'jpn' 'ara' 'nld' 'zho' 'lat'
 'por' 'srp' 'ita' 'rus' 'msa' 'glg' 'cym' 'swe' 'nor' 'tur' 'gla' 'ale']

In [12]:
# describe- looking for bad data, obvious outliers
df.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11127.000000,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000
mean,21310.938887,3.933631,9.759178e+12,336.376921,1.793641e+04,541.854498
std,13093.358023,0.352445,4.428650e+11,241.127305,1.124794e+05,2576.176608
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10287.000000,3.770000,9.780000e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780000e+12,299.000000,7.450000e+02,46.000000
75%,32104.500000,4.135000,9.780000e+12,416.000000,4.993500e+03,237.500000
max,45641.000000,5.000000,9.790000e+12,6576.000000,4.597666e+06,94265.000000

In [13]:
# making sure that the books with number of pages >= 2000 are boxed sets 
# or expected to be large books and not obvious errors
print(df[df["num_pages"] >= 2000])

       bookID                                              title  \
4           8  Harry Potter Boxed Set  Books 1-5 (Harry Potte...
6          10       Harry Potter Collection (Harry Potter  #1-6)
1053     3579  The Complete Anne of Green Gables Boxed Set (A...
5616    20749                                   Study Bible: NIV
6260    23589             The J.R.R. Tolkien Companion and Guide
6500    24520     The Complete Aubrey/Maturin Novels (5 Volumes)
6805    25587                               The Second World War
6825    25709                           Summa Theologica  5 Vols
7865    30258         Harrison's Principles of Internal Medicine
9933    40012  Goodman & Gilman's the Pharmacological Basis o...
10753   43888  The Sword of Truth  Boxed Set I: Wizard's Firs...
10910   44613             Remembrance of Things Past (Boxed Set)

                                                 authors  average_rating  \
4                             J.K. Rowling/Mary GrandPré            4.78
6                                           J.K. Rowling            4.73
1053                                     L.M. Montgomery            4.43
5616                                           Anonymous            4.70
6260                    Christina Scull/Wayne G. Hammond            4.64
6500                                     Patrick O'Brian            4.70
6805                    Winston S. Churchill/John Keegan            4.45
6825                                      Thomas Aquinas            4.12
7865   Dennis L. Kasper/Dan L. Longo/Stephen L. Hause...            4.35
9933   Laurence L. Brunton/John S. Lazo/Keith  L. Parker            4.29
10753                                     Terry Goodkind            4.29
10910  Marcel Proust/C.K. Scott Moncrieff/Frederick A...            4.34

             isbn        isbn13 language_code  num_pages  ratings_count  \
4       439682584  9.780000e+12           eng       2690          41428
6       439827604  9.780000e+12           eng       3342          28242
1053    553609416  7.678361e+10           eng       2088          98611
5616    310929555  9.780000e+12           eng       2198           4166
6260    618391134  9.780000e+12           eng       2264             45
6500   039306011X  9.780000e+12           eng       6576           1338
6805   039541685X  9.780000e+12           eng       4736           1493
6825    870610635  9.780000e+12           eng       3020           2734
7865     71391401  9.780000e+12           eng       2751             23
9933     71422803  9.780000e+12           eng       2021            185
10753   812575601  9.780000e+12           eng       2480           4196
10910   701125594  9.780000e+12           eng       3400              6

       text_reviews_count publication_date  \
4                     164       2004-09-13
6                     808       2005-09-12
1053                 1447       1998-10-06
5616                  186       2002-10-01
6260                    0       2006-11-02
6500                   81       2004-10-17
6805                   99       1986-05-09
6825                   84       1981-01-01
7865                    4       2004-07-27
9933                    8       2005-09-21
10753                  81       1998-11-15
10910                   1       1981-03-05

                                 publisher
4                               Scholastic
6                               Scholastic
1053                              Starfire
5616            Zondervan Publishing House
6260             Houghton Mifflin Harcourt
6500                 W. W. Norton  Company
6805                         Mariner Books
6825                    Christian Classics
7865        McGraw-Hill Medical Publishing
9933   McGraw-Hill Professional Publishing
10753                            Tor Books
10910                      Chatto & Windus

## Step 4
Created new column "book_series" where "y" value denotes a book series and "n" value denotes a single book. Distinction made by title containing any of these key words: set, collection, novels, vols, volumes, books, ultimate.

In [14]:
# adding column "book_series" where "y" denotes a book series and 
# "n" denotes a single book
df.loc[df["title"].str.lower().str.contains(
    "set|collection|novels|vols|books|volumes|ultimate"),'book_series'] = 'y'
df["book_series"].fillna("n", inplace = True)

## Step 5
Changed all strings in DataFrame to lowercase only.

In [15]:
# make all strings lowercase
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

## Step 6
Separated "authors" column into "author" (the first author listed), and "contributors" (the rest of the authors listed in authors). Deleted original "authors" column.

In [16]:
# separate "authors" into primary author (first listed in authors list)
# and contributors (rest of authors list)
new = df["authors"].str.split("/", n = 1, expand = True)
df["author"] = new[0]
df["contributors"] = new[1]
df.drop(columns = ["authors"], inplace = True)

## Step 7
Rearranged column order to make the most sense reading it- "bookID" and "isbn" are first as those are both unique identifiers for the entries; then "title", "author", "contributors", "book_series" (information that seems like it would possibly be useful/common across all three data sets); then the numerical columns; and finally "isbn13", "language_code", "publication_date", and "publisher" as these do not intuitively feel as informative from a data analysis stand point but should not be removed at this early of a stage.

In [17]:
# rearrange dataframe column order
df = df.iloc[:,[0,3,1,12,13,11,2,6,7,8,4,5,9,10]]

## Ethical Implications

Some of the ethical implications considered while cleaning this data set include: changing the language codes, how book_series column was determined, separating the "authors" column, and the decision to not remove duplicates of the same title. The original "language_code" data included en_US, en_GB, and en_CA for American, British, and Canadian english, respectively. While all these are at the end of the day, in English, there are some differences in slang usage and spelling between the respective versions. By removing the distinction between them, there may be added confusion between versions, but the ISBNs will still be unique and different, so version differentiation is still possible only slightly more complicated. The "book_series" column was created by only using a list of some key words, but it is more than likely that not all book series contained any of those words and that some titles of singular books might have been included on accident, therefore, the book_series column is really only, at this point, an estimation and would require parsing through the entire data set to validate and correct it as accurately as possible. The separation of the "authors" column was done to simplify the data and make it more readable; however, it is possible that this separation was not done in a way that honors all contributors to the level they are due. By assuming the first author listed was the primary author lessons the impact if there are authors of equal importance and it also assumes that the list was written in the order of primary author first. The last ethical implication from this data set was one considered but not used: there are duplicates of book titles in the data set, but none were removed because there were no duplicates in ISBN. This means that multiple versions (audiobook, ebook, hardcover, paperback) and editions of several titles are inlcuded on this list. Since each ISBN has its own, average_rating, ratings_count, and text_reviews_count, it did not seem ethical to combine these values in some way to account for duplicates or to simply remove them entirely as each title drew its own demographic of readers and reviewers.

## Readable Dataset

In [18]:
print(df.head(60))

    bookID        isbn                                              title  \
0        1   439785960  harry potter and the half-blood prince (harry ...
1        2   439358078  harry potter and the order of the phoenix (har...
2        4   439554896  harry potter and the chamber of secrets (harry...
3        5  043965548x  harry potter and the prisoner of azkaban (harr...
4        8   439682584  harry potter boxed set  books 1-5 (harry potte...
5        9   976540606  unauthorized harry potter book seven news: "ha...
6       10   439827604       harry potter collection (harry potter  #1-6)
7       12   517226952  the ultimate hitchhiker's guide: five complete...
8       13   345453743  the ultimate hitchhiker's guide to the galaxy ...
9       14  1400052920  the hitchhiker's guide to the galaxy (hitchhik...
10      16   739322206  the hitchhiker's guide to the galaxy (hitchhik...
11      18   517149257  the ultimate hitchhiker's guide (hitchhiker's ...
12      21  076790818x               a short history of nearly everything
13      22   767915062                        bill bryson's african diary
14      23   767910435  bryson's dictionary of troublesome words: a wr...
15      24   767903862                             in a sunburned country
16    7906    64408582             emily of deep valley (deep valley  #2)
17      26    60920084  the lost continent: travels in small town america
18      27   380713802          neither here nor there: travels in europe
19      28   380727501                          notes from a small island
20      29   380715430  the mother tongue: english and how it got that...
21      30   345538374  j.r.r. tolkien 4-book boxed set: the hobbit an...
22      31   618517650  the lord of the rings (the lord of the rings  ...
23      34   618346252  the fellowship of the ring (the lord of the ri...
24      35   618260587  the lord of the rings (the lord of the rings  ...
25      36   618391002         the lord of the rings: weapons and warfare
26      37   618510826   the lord of the rings: complete visual companion
27      45  097669400x  agile web development with rails: a pragmatic ...
28   23336   791056643  j.d. salinger's catcher in the rye (modern cri...
29      51  1557344493  hatchet: a guide for using "hatchet" in the cl...
30      53   385326505  guts: the true stories behind hatchet and the ...
31      54  1575606240                      molly hatchet - 5 of the best
32      55  1595580271     hatchet jobs: writings on contemporary fiction
33      57  1595962808  a changeling for all seasons (changeling seaso...
34      58   670059676                        changeling (changeling  #1)
35      59   141312629                                 the changeling sea
36      61   595321801                                     the changeling
37      63  1590301943                                     the changeling
38      66   449146979         the changeling (daughters of england  #15)
39      67    61159174                                    the known world
40      68  006076273x                                    the known world
41      69    60749911                                    the known world
42      71   273704745  traders  guns & money: knowns and unknowns in ...
43      72  1932386106             artesia: adventures in the known world
44      74   374517193    the john mcphee reader (john mcphee reader  #1)
45      75   374280398                                  uncommon carriers
46      76   374519749                          heirs of general practice
47      77   374522596                              the control of nature
48      78   374518734                         annals of the former world
49      79   374522871                            coming into the country
50      80   374519323                     la place de la concorde suisse
51      81   374516006                                 giving good weight
52      83   374520658                             rising from the plains
53      85   822205106                               the heidi chronicles
54      86   679734996  the heidi chronicles: uncommon women and other...
55      89  1596670231  active literacy across the curriculum: strateg...
56      90  1581807740                    simply beautiful beaded jewelry
57      91   800793617  always enough: god's miraculous provision amon...
58      92   871202867  mapping the big picture: integrating curriculu...
59      93   753454947                                heidi (heidi  #1-2)

                    author                                       contributors  \
0             j.k. rowling                                      mary grandpré
1             j.k. rowling                                      mary grandpré
2             j.k. rowling                                               None
3             j.k. rowling                                      mary grandpré
4             j.k. rowling                                      mary grandpré
5   w. frederick zimmerman                                               None
6             j.k. rowling                                               None
7            douglas adams                                               None
8            douglas adams                                               None
9            douglas adams                                               None
10           douglas adams                                        stephen fry
11           douglas adams                                               None
12             bill bryson                                               None
13             bill bryson                                               None
14             bill bryson                                               None
15             bill bryson                                               None
16      maud hart lovelace                                       vera neville
17             bill bryson                                               None
18             bill bryson                                               None
19             bill bryson                                               None
20             bill bryson                                               None
21          j.r.r. tolkien                                               None
22          j.r.r. tolkien                                               None
23          j.r.r. tolkien                                               None
24          j.r.r. tolkien                                          alan  lee
25           chris   smith                    christopher  lee/richard taylor
26             jude fisher                                               None
27             dave thomas  david heinemeier hansson/leon breedt/mike clar...
28            harold bloom                                               None
29             donna ickes                 edward sciranko/keith vasconcelles
30            gary paulsen                                               None
31           molly hatchet                                               None
32               dale peck                                               None
33           angela knight  sahara kelly/judy mays/marteeka karland/kate d...
34           delia sherman                                               None
35    patricia a. mckillip                                               None
36   zilpha keatley snyder                                               None
37            kate horsley                                               None
38           philippa carr                                               None
39         edward p. jones                                               None
40         edward p. jones                                      kevin r. free
41         edward p. jones                                               None
42            satyajit das                                               None
43             mark smylie                                               None
44             john mcphee                                    william howarth
45             john mcphee                                               None
46             john mcphee                                               None
47             john mcphee                                               None
48             john mcphee                                               None
49             john mcphee                                               None
50             john mcphee                                               None
51             john mcphee                                               None
52             john mcphee                                               None
53       wendy wasserstein                                               None
54       wendy wasserstein                                               None
55      heidi hayes jacobs                                               None
56              heidi boyd                                               None
57             heidi baker                                      rolland baker
58      heidi hayes jacobs                                               None
59           johanna spyri                     beverly cleary/angelo  rinaldi

   book_series  average_rating  num_pages  ratings_count  text_reviews_count  \
0            n            4.57        652        2095690               27591
1            n            4.49        870        2153167               29221
2            n            4.42        352           6333                 244
3            n            4.56        435        2339585               36325
4            y            4.78       2690          41428                 164
5            n            3.74        152             19                   1
6            y            4.73       3342          28242                 808
7            y            4.38        815           3628                 254
8            y            4.38        815         249558                4080
9            n            4.22        215           4930                 460
10           n            4.22          6           1266                 253
11           y            4.38        815           2877                 195
12           n            4.21        544         248558                9396
13           n            3.44         55           7270                 499
14           n            3.87        256           2088                 131
15           n            4.07        335          72451                4245
16           n            4.23        304           2722                 151
17           n            3.83        299          45712                2257
18           n            3.86        254          48701                2238
19           n            3.91        324          80609                3301
20           n            3.93        270          28489                2085
21           y            4.59       1728         101233                1550
22           n            4.50       1184           1710                  91
23           n            4.36        398        2128944               13670
24           n            4.50       1216           1618                 140
25           n            4.53        218          19822                  46
26           n            4.50        224            359                   6
27           n            3.84        558           1430                  59
28           n            3.58        176             18                   2
29           n            4.00         48             36                   2
30           y            3.88        144           2067                 334
31           n            4.33         56              6                   0
32           n            3.45        228             99                  16
33           n            3.76        304            167                   4
34           n            3.60        256            978                 111
35           n            4.06        137           4454                 302
36           n            4.17        228           1176                  96
37           n            3.55        339            301                  43
38           n            3.98        369            345                  12
39           n            3.83        388          29686                2626
40           n            3.83         14             55                  12
41           n            3.83        576             22                   3
42           n            3.83        334           1456                  82
43           n            4.13        352             52                   4
44           n            4.42        416            562                  37
45           n            3.95        248           1630                 203
46           n            4.17        128            268                  22
47           n            4.24        288           3498                 305
48           n            4.34        720           3115                 228
49           n            4.22        448           5704                 261
50           n            3.92        160            698                  52
51           n            4.23        288            542                  36
52           n            4.23        208           1341                  98
53           n            3.75         81           1423                  70
54           n            3.84        249           2766                  64
55           n            3.94        138             31                   1
56           n            3.77        128             62                   4
57           n            4.46        192            860                  53
58           n            3.68        108             77                   2
59           n            3.99        352         153317                2257

          isbn13 language_code publication_date  \
0   9.780000e+12           eng       2006-09-16
1   9.780000e+12           eng       2004-09-01
2   9.780000e+12           eng       2003-11-01
3   9.780000e+12           eng       2004-05-01
4   9.780000e+12           eng       2004-09-13
5   9.780000e+12           eng       2005-04-26
6   9.780000e+12           eng       2005-09-12
7   9.780000e+12           eng       2005-11-01
8   9.780000e+12           eng       2002-04-30
9   9.780000e+12           eng       2004-08-03
10  9.780000e+12           eng       2005-03-23
11  9.780000e+12           eng       1996-01-17
12  9.780000e+12           eng       2004-09-14
13  9.780000e+12           eng       2002-12-03
14  9.780000e+12           eng       2004-09-14
15  9.780000e+12           eng       2001-05-15
16  9.780000e+12           eng       2000-12-31
17  9.780000e+12           eng       1990-08-28
18  9.780000e+12           eng       1993-03-28
19  9.780000e+12           eng       1997-05-28
20  9.780000e+12           eng       1991-09-28
21  9.780000e+12           eng       2012-09-25
22  9.780000e+12           eng       2004-10-21
23  9.780000e+12           eng       2003-09-05
24  9.780000e+12           eng       2002-10-01
25  9.780000e+12           eng       2003-11-05
26  9.780000e+12           eng       2004-11-15
27  9.780000e+12           eng       2005-07-28
28  9.780000e+12           eng       2000-12-31
29  9.780000e+12           eng       1994-08-28
30  9.780000e+12           eng       2001-01-23
31  9.780000e+12           eng       2003-06-10
32  9.780000e+12           eng       2005-11-01
33  9.780000e+12           eng       2005-11-01
34  9.780000e+12           eng       2006-08-17
35  9.780000e+12           eng       2003-04-14
36  9.780000e+12           eng       2004-06-08
37  9.780000e+12           eng       2005-04-12
38  9.780000e+12           eng       1990-08-28
39  9.780000e+12           eng       2006-08-29
40  9.780000e+12           eng       2004-06-15
41  9.780000e+12           eng       2004-06-15
42  9.780000e+12           eng       2006-05-15
43  9.780000e+12           eng       2005-12-14
44  9.780000e+12           eng       1982-06-01
45  9.780000e+12           eng       2006-05-16
46  9.780000e+12           eng       1986-04-01
47  9.780000e+12           eng       1990-09-01
48  9.780000e+12           eng       1999-01-06
49  9.780000e+12           eng       1991-04-01
50  9.780000e+12           fra       1994-04-01
51  9.780000e+12           eng       1994-04-01
52  9.780000e+12           eng       1987-11-01
53  9.780000e+12           eng       2002-03-01
54  9.780000e+12           eng       1991-07-02
55  9.780000e+12           eng       2006-03-29
56  9.780000e+12           eng       2006-03-14
57  9.780000e+12           eng       2003-09-01
58  9.780000e+12           eng       1997-01-28
59  9.780000e+12           eng       2002-11-15

                                            publisher
0                                     scholastic inc.
1                                     scholastic inc.
2                                          scholastic
3                                     scholastic inc.
4                                          scholastic
5                                        nimble books
6                                          scholastic
7                                      gramercy books
8                                       del rey books
9                                               crown
10                                 random house audio
11                                        wings books
12                                     broadway books
13                                     broadway books
14                                     broadway books
15                                     broadway books
16                                       harpertrophy
17                          william morrow paperbacks
18                          william morrow paperbacks
19                          william morrow paperbacks
20                          william morrow paperbacks
21                                   ballantine books
22                          houghton mifflin harcourt
23                          houghton mifflin harcourt
24                          houghton mifflin harcourt
25                          houghton mifflin harcourt
26                          houghton mifflin harcourt
27                                pragmatic bookshelf
28                         chelsea house publications
29                          teacher created resources
30                                    delacorte press
31                          cherry lane music company
32                                      the new press
33                                   changeling press
34                                    viking juvenile
35                                           firebird
36                                          iuniverse
37                                          shambhala
38                                          ivy books
39                                            amistad
40                                        harperaudio
41                                             harper
42                                           ft press
43                                            archaia
44                          farrar  straus and giroux
45                               farrar straus giroux
46                          farrar  straus and giroux
47                          farrar  straus and giroux
48                          farrar  straus and giroux
49                          farrar  straus and giroux
50                          farrar  straus and giroux
51                          farrar  straus and giroux
52                          farrar  straus and giroux
53                            dramatists play service
54                                            vintage
55                                          routledge

In [19]:
print(df.tail(60))

       bookID        isbn                                              title  \
11067   45420   852237510                                     the home front
11068   45431   786849606                           half moon investigations
11069   45432  078685149x                                the supernaturalist
11070   45436   439443369                                      the wish list
11071   45438   786855037               legend of the worst boy in the world
11072   45440   786855010                          the legend of spud murphy
11073   45442   307344673             la venganza de opal (artemis fowl  #4)
11074   45444   862786029                                        going potty
11075   45449  3548603203                    artemis fowl (artemis fowl  #1)
11076   45450   307350053                              la última oportunidad
11077   45455  8497939204                    artemis fowl (artemis fowl  #1)
11078   45462  8484412474             la venganza de opal (artemis fowl  #4)
11079   45463   307343103          encuentro en el ártico (artemis fowl  #2)
11080   45465  1400085918                    artemis fowl (artemis fowl  #1)
11081   45472   739336509  treasury of american tall tales: volume 1: dav...
11082   45479   375846727          the subtle knife (his dark materials  #2)
11083   45480   375846735        the amber spyglass (his dark materials  #3)
11084   38977  000690601x                  the princess of the chalet school
11085   45486   375847227      his dark materials (his dark materials  #1-3)
11086   45487  8440699476         el catalejo lacado (la materia oscura  #3)
11087   45490   375947221    his dark materials omnibus (his dark materials)
11088   45492   439994128           northern lights (his dark materials  #1)
11089   45495    62511408   el alquimista: una fábula para seguir tus sueños
11090   45500  030727411x                 la conspiración de los alquimistas
11091   45503    61351342  el alquimista: edicion illustrada: edicion ill...
11092   45506  1861974426                  the call of the mall: how we shop
11093   45511   887309429      die broke: a radical four-part financial plan
11094   45515  1594860165                               live rich  die broke
11095   39444  1563895951                                    son of superman
11096   45529   394729641             montaillou: the promised land of error
11097   45530   140137009  montaillou: cathars and catholics in a french ...
11098   45531  2070323285         montaillou  village occitan de 1294 à 1324
11099   45533   140054715  montaillou: cathars and catholics in a french ...
11100   45536   142437255                                        on the road
11101   45546  074347788x  undaunted courage: the pioneering first missio...
11102   45549  1415918090                                  undaunted courage
11103   45557   684833247   co. aytch: a confederate memoir of the civil war
11104   45564  1568520808                             jonny reb & billy yank
11105   40880   712311025  jack vance: critical appreciations and a bibli...
11106   45570  057305133x                                   fantastic mr fox
11107   45572  1855495090                 fantastic mr. fox (cover to cover)
11108   45574  1932394613                                     ajax in action
11109   45583  8466318771                      historia del rey transparente
11110   45585  843221728x                                     bella y oscura
11111   45592  8466302298                       la tía julia y el escribidor
11112   45595  8432203238                       la tía julia y el escribidor
11113   45604  9583006408                        narraciones extraordinarias
11114   45607    61199001                             las crónicas de narnia
11115   45615  972233168x       o trono de prata (as crónicas de nárnia  #6)
11116   45616  9722332201       a última batalha (as crónicas de nárnia  #7)
11117   45617  9722330551  o cavalo e o seu rapaz (as crónicas de nárnia ...
11118   45623  9722329987   o sobrinho do mágico (as crónicas de nárnia  #1)
11119   45625  9722331329  a viagem do caminheiro da alvorada (as crónica...
11120   45626  9722330977     o príncipe caspian (as crónicas de nárnia  #4)
11121   45630   140231579                                  whores for gloria
11122   45631  1560254416   expelled from eden: a william t. vollmann reader
11123   45633   140110879                        you bright and risen angels
11124   45634   140131965                    the ice-shirt (seven dreams #1)
11125   45639    60878827                                        poor people
11126   45641  8497646983                        las aventuras de tom sawyer

                        author  \
11067        brian braithwaite
11068              eoin colfer
11069              eoin colfer
11070              eoin colfer
11071              eoin colfer
11072              eoin colfer
11073              eoin colfer
11074              eoin colfer
11075              eoin colfer
11076              eoin colfer
11077              eoin colfer
11078              eoin colfer
11079              eoin colfer
11080              eoin colfer
11081           david bromberg
11082           philip pullman
11083           philip pullman
11084     elinor m. brent-dyer
11085           philip pullman
11086           philip pullman
11087           philip pullman
11088           philip pullman
11089             paulo coelho
11090         hania czajkowski
11091             paulo coelho
11092           paco underhill
11093        stephen m. pollan
11094        stephen m. pollan
11095           howard chaykin
11096  emmanuel le roy ladurie
11097  emmanuel le roy ladurie
11098  emmanuel le roy ladurie
11099  emmanuel le roy ladurie
11100             jack kerouac
11101       stephen e. ambrose
11102       stephen e. ambrose
11103           sam r. watkins
11104         alexander hunter
11105          a.e. cunningham
11106               david wood
11107               roald dahl
11108               dave crane
11109             rosa montero
11110             rosa montero
11111       mario vargas llosa
11112       mario vargas llosa
11113          edgar allan poe
11114               c.s. lewis
11115               c.s. lewis
11116               c.s. lewis
11117               c.s. lewis
11118               c.s. lewis
11119               c.s. lewis
11120               c.s. lewis
11121      william t. vollmann
11122      william t. vollmann
11123      william t. vollmann
11124      william t. vollmann
11125      william t. vollmann
11126               mark twain

                                            contributors book_series  \
11067                           noelle walsh/glyn davies           n
11068                                               None           n
11069                                               None           n
11070                                               None           n
11071                                        glenn mccoy           n
11072                                        glenn mccoy           n
11073                                        ana alcaina           n
11074                                               None           n
11075                                   claudia feldmann           n
11076                                               None           n
11077                                        ana alcaina           n
11078                                               None           n
11079                                  ana alcaina pérez           n
11080                                   nathaniel parker           n
11081  jay ungar/molly mason/garrison keillor/mark o'...           n
11082                                           ian beck           n
11083                                           ian beck           n
11084                                               None           n
11085                                               None           n
11086                                               None           n
11087                                               None           n
11088                                               None           n
11089                                    juan godó costa           n
11090                                               None           n
11091                                               None           n
11092                                               None           n
11093                                        mark levine           n
11094                                               None           n
11095  david tischman/j.h. williams iii/mick gray/lee...           n
11096                                       barbara bray           n
11097                                       barbara bray           n
11098                            emmanuel le roy-ladurie           n
11099                                       barbara bray           n
11100                                       ann charters           n
11101                                               None           n
11102                                   barrett whitener           n
11103                                               None           n
11104                                               None           n
11105  harlan ellison/charles f. miller/terry dowling...           n
11106                                         roald dahl           n
11107                                               None           n
11108                       eric pascarello/darren james           n
11109                                               None           n
11110                                               None           n
11111                                               None           n
11112                                               None           n
11113                                               None           n
11114   margarita e. valdes/gemma gallart/pauline baynes           n
11115                                  ana falcão bastos           n
11116                   pauline baynes/ana falcão bastos           n
11117                   pauline baynes/ana falcão bastos           n
11118                   pauline baynes/ana falcão bastos           n
11119                   pauline baynes/ana falcão bastos           n
11120                   pauline baynes/ana falcão bastos           n
11121                                               None           n
11122                 larry mccaffery/michael hemmingson           n
11123                                               None           n
11124                                               None           n
11125                                               None           n
11126                                               None           n

       average_rating  num_pages  ratings_count  text_reviews_count  \
11067            3.40        192              1                   1
11068            3.77        304            279                  41
11069            3.86        267          24863                1001
11070            3.77        252          13988                 589
11071            3.76        101            328                  43
11072            3.88         96             92                  25
11073            4.05        368             42                   2
11074            3.14         64              7                   1
11075            3.84        240            428                  24
11076            3.77        258              2                   0
11077            3.84        286             45                   3
11078            4.05        368             21                   1
11079            3.95        320             15                   3
11080            3.84          6             55                  14
11081            3.86          0             36                   9
11082            4.13        326            677                  77
11083            4.09        518            562                  61
11084            4.08        159            465                  21
11085            4.26        933           2656                 260
11086            4.09        446            565                  49
11087            4.26        944             70                   9
11088            3.98        399            836                  62
11089            3.86        192            775                  43
11090            4.00        488             51                   4
11091            3.86        192             43                   5
11092            3.60        227             14                   1
11093            3.64        320            270                  45
11094            3.29        482             14                   2
11095            3.38         95             11                   1
11096            3.96        416           1142                  62
11097            3.96        400             80                  14
11098            3.96        640             15                   2
11099            3.96        400             17                   2
11100            3.63        307           3271                 342
11101            4.21        592          41236                1830
11102            4.21         22              8                   2
11103            4.13        240             23                   2
11104            4.11        635             14                   2
11105            4.15        232             13                   2
11106            4.09         74             65                   2
11107            4.05         90              7                   0
11108            3.56        680            126                  10
11109            3.90        592           1266                  90
11110            3.66        204            293                  31
11111            3.92        566            162                  10
11112            3.92        447             25                   4
11113            4.13        316             36                   4
11114            4.26        816            186                  11
11115            3.96        168            141                  10
11116            4.03        149            211                  24
11117            3.92        160            207                  16
11118            4.04        147            396                  37
11119            4.09        176            161                  14
11120            3.97        160            215                  11
11121            3.69        160            932                 111
11122            4.06        512            156                  20
11123            4.08        635            783                  56
11124            3.96        415            820                  95
11125            3.72        434            769                 139
11126            3.91        272            113                  12

             isbn13 language_code publication_date  \
11067  9.780000e+12           eng       1989-02-23
11068  9.780000e+12           eng       2007-04-01
11069  9.780000e+12           eng       2005-04-20
11070  9.780000e+12           eng       2004-07-01
11071  9.780000e+12           eng       2007-05-01
11072  9.780000e+12           eng       2004-09-06
11073  9.780000e+12           spa       2005-11-01
11074  9.780000e+12           eng       1999-10-01
11075  9.780000e+12           deu       2003-05-01
11076  9.780000e+12           spa       2006-04-04
11077  9.790000e+12           spa       2006-03-30
11078  9.790000e+12           spa       2005-04-30
11079  9.780000e+12           spa       2005-07-05
11080  9.780000e+12           eng       2004-04-06
11081  9.780000e+12           eng       2006-08-22
11082  9.780000e+12           eng       2007-09-01
11083  9.780000e+12           eng       2007-09-01
11084  9.780000e+12           eng       2000-01-01
11085  9.780000e+12           eng       2007-04-10
11086  9.790000e+12           spa       2005-05-01
11087  9.780000e+12           eng       2007-04-10
11088  9.780000e+12           eng       2001-09-14
11089  9.780000e+12           eng       2018-10-23
11090  9.780000e+12           spa       2005-03-05
11091  9.780000e+12           eng       2007-04-10
11092  9.780000e+12           eng       2004-04-01
11093  9.780000e+12           eng       1998-09-23
11094  9.780000e+12           eng       2005-01-01
11095  9.780000e+12           eng       2000-01-01
11096  9.780000e+12           eng       1979-07-12
11097  9.780000e+12           eng       2002-12-05
11098  9.780000e+12           fra       1982-06-30
11099  9.780000e+12           eng       1980-05-29
11100  9.780000e+12           eng       2006-01-03
11101  9.780000e+12           eng       2003-10-06
11102  9.780000e+12           eng       2005-03-08
11103  9.780000e+12           eng       1997-08-12
11104  9.780000e+12           eng       1998-05-31
11105  9.780000e+12           eng       2000-01-01
11106  9.780000e+12           eng       2011-01-05
11107  9.780000e+12           eng       1995-09-15
11108  9.780000e+12           eng       2005-11-03
11109  9.790000e+12           spa       2006-09-01
11110  9.790000e+12           spa       2006-03-01
11111  9.790000e+12           spa       2001-03-01
11112  9.790000e+12           spa       1977-07-10
11113  9.790000e+12           spa       2004-06-01
11114  9.780000e+12           spa       2006-11-07
11115  9.790000e+12           por       2004-04-16
11116  9.790000e+12           por       2004-07-17
11117  9.790000e+12           por       2003-08-15
11118  9.790000e+12           por       2003-04-08
11119  9.790000e+12           por       2004-09-01
11120  9.790000e+12           por       2003-10-11
11121  9.780000e+12           eng       1994-02-01
11122  9.780000e+12           eng       2004-12-21
11123  9.780000e+12           eng       1988-12-01
11124  9.780000e+12           eng       1993-08-01
11125  9.780000e+12           eng       2007-02-27
11126  9.790000e+12           spa       2006-05-28

                                     publisher
11067                              ebury press
11068                          disney-hyperion
11069                          disney-hyperion
11070                          scholastic inc.
11071              hyperion books for children
11072                          disney-hyperion
11073                   random house mondadori
11074                            o'brien press
11075                                     list
11076                            plaza y janes
11077                               debols!llo
11078                                  montena
11079                                  montena
11080                        listening library
11081                listening library (audio)
11082  alfred a. knopf books for young readers
11083  alfred a. knopf books for young readers
11084                            harpercollins
11085                          alfred a. knopf
11086                              ediciones b
11087            knopf books for young readers
11088                         scholastic press
11089                                     rayo
11090                               debolsillo
11091                                     rayo
11092                            profile books
11093                          harper business
11094                             rodale books
11095                                dc comics
11096                vintage/random house (ny)
11097                                  penguin
11098                           folio histoire
11099                       penguin books ltd.
11100                         penguin classics
11101                         simon & schuster
11102                            books on tape
11103                         touchstone books
11104                                not avail
11105                          british library